<nav class="navbar navbar-dark" style="background: lightgreen;">
    <div class="container-fluid">
      <a class="navbar-brand text-bold" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Flag_of_Macedonia_-_ethnic.svg" 
        alt="logo" width="180">
      </a>
      <span class="text-uppercase"></span>
      <!--<p>А а Б б В в Г г Ѓ ѓ Д д Е е Ж ж Ѕ ѕ З з И и Ј ј К к Ќ ќ Л л Љ љ 
        М м Н н Њ њ О о П п Р р С с Т т У у Ц ц Ч ч Џ џ Ш ш Ъ ъ</p>
      Ф ф - само у косовским призренско-јужноморавским говорима под утицајем албанског и турског који имају ф 
      Х х - слабо игде стога нигде 
      -->
      <p style="font-family: tahoma;">ъ̀ а̀ ѝ ѐ о̀ ỳ й ă </p>
    </div>
</nav>