<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Flag_of_Macedonia_-_ethnic.svg"
                    alt="nema slike" width="90">
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive;">текст - Млого съм се мучила</h4>
                <ng-container *ngIf="name !== null">
                    <span style="font-style: italic;">Корисник: {{name}}</span>
                </ng-container>
                <ng-container *ngIf="name === null">
                    <span style="font-style: italic;">Корисник: Нисте пријављени!</span>
                </ng-container>
            </div>
        </div>

        <div class="text">
            <div class="card">
                <h3 style="text-align: center;">Мло̀го съм се мучѝла</h3>
                <hr>
                <p style="text-align: justify;">
                    &nbsp; &nbsp; &nbsp; Па ме мој та̀тко бања̀ја у котъ̀л. Ишчува̀ја ме сам, без ма̀јку. Ја не съм била̀ кадъ̀р сама̀ да се мѝем.<br/>
                    &nbsp; &nbsp; &nbsp; Мло̀го съм се мучѝла малѐцка. Та̀тко мѐси па ме мѐне ỳчи да мѐсим. Па ја мѐсим. Замѐсим леб 
                    мумурỳзън у грънъ̀ц. Угорѝм цръпỳљу, па скѝнем цръпỳљу бръ̀го, што пре. Она̀ се све цръвенѐе. Ја што пре, да обръ̀нем 
                    грънъ̀ц да сѝпем леб да се испечѐ, ќе ми остѝне цръпỳља. А он не ќе да се испечѐ. Два пръ̀ста близнѝца што је мло̀го 
                    врѐла цръпỳља. Глѐтав одоздо̀л. И мој та̀тко ќе рѐкне: "Ма ти, дѐте, к'о овъ̀ј леб печѐш?" Ја ќу му казỳем: "Па 
                    тăко̀ј, та̀те - горѝ цръпỳља, ја скѝнем цръпỳљу и исѝпем леб".<br/>
                    &nbsp; &nbsp; &nbsp; Е, једънпỳт, замѐсим. Àјде, цръпỳљу тỳрим. Он, та̀тко ми, туј седѝ. Вѝка: "Àјде, скѝѓај 
                    цръпỳљу!" Ја скина̀, обриса̀ цръпỳљу с пача̀вру, насолѝ бра̀шно. Ќу обръ̀нем леб, жỳрим да га сѝпем у цръпỳљу, она̀ 
                    да не остѝне, да се испечѐ. "Не, што рабо̀тиш тој!?" Мој та̀тко ми не да̀де. Па ми вѝка: "Со̀лни ма̀ло брашъ̀нце!" 
                    Оно̀ съ̀мо горѝ. Пỳштам по ма̀ло бра̀шно у цръпỳљу. "Съг мо̀жеш, дѐте да сѝпеш леб да се печѐ!" Угорѝм връшњѝк и запрѐќам 
                    леб. И тъг съм наста̀ла домаќѝца. Тъј дън и дънъ̀с.
                </p>
            </div>
        </div>
        <br/>
        
        <div class="d-flex justify-content-between">
            <button style="margin: 0 auto;" class="btn btn-success" routerLink="/quiz/text/mlogo-s6m-se-muchila-kviz">одговори на питања свръзана с овъј текст</button>
        </div>
    </div>
    <br><br>
</div>