<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                中国制造
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive;">текст</h4>
                <ng-container *ngIf="name !== null">
                    <span style="font-style: italic;">Корисник: {{name}}</span>
                </ng-container>
                <ng-container *ngIf="name === null">
                    <span style="font-style: italic;">Корисник: Нисте пријављени!</span>
                </ng-container>
            </div>
        </div>

        <div class="text">
            <div class="card">
                <h3 style="text-align: center;">我的家人和他们的工作。</h3>
                <hr>
                <p style="text-align: justify;">
                    我的名字是李强，我11岁。我的家里有四口人，他们分别是我的爸爸，我的妈妈，
                    我的哥哥和我。我的哥哥和我在同一所学校，所以我们的书包和校服都是一样的。

                    我的爸爸是一位工程师，他最近很骄傲，因为他参与建设的港珠澳大桥开通了。这真是一项伟大的工程。

                    我的妈妈一位教师，她很喜欢自己的工作。
                </p><br/>
                <p style="font-size: small; text-align: right;">напомена: морате бити пријављени да бисте могли да решавате квиз</p>
            </div>
        </div>
        <br/>
        
        <div class="d-flex justify-content-between">
            <button style="margin: 0 auto;" class="btn btn-success" routerLink="/quiz/text/ima-nauka-a-ima-i-oduka-kviz">одговори на питања везана за текст</button>
        </div>
    </div>
    <br><br>
</div>