<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Flag_of_Macedonia_-_ethnic.svg"
                    alt="nema slike" width="90">
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive;">текст - Има наука, а има и одука</h4>
                <ng-container *ngIf="name !== null">
                    <span style="font-style: italic;">Корисник: {{name}}</span>
                </ng-container>
                <ng-container *ngIf="name === null">
                    <span style="font-style: italic;">Корисник: Не сте пријавени!</span>
                </ng-container>
            </div>
        </div>

        <div class="text">
            <div class="card">
                <h3 style="text-align: center;">Ѝма на̀ука, а ѝма и о̀дука</h3>
                <hr>
                <p style="text-align: justify;">
                    &nbsp; &nbsp; &nbsp; Билѝ некаквѝ човѐци, па има̀ли дево̀јќу на 
                    женѝдбу, а̀ли била̀ мло̀го лѐња. Башта̀ и ма̀јќа ѓу не учѝли да рабо̀ти, 
                    нѐго ѓу мло̀го помазѝли. Ка је треба̀ло да рỳча, она̀ ока̀ла: - Примъ̀к! 
                    И онѝ ѓу примъциња̀ли. А ка се нарỳча, о̀ка: - Измъ̀к! И онѝ ѓу измъциња̀ли. 
                    Ка се смръ̀зне, о̀ка: - Примъ̀к! А ка се нагрѐе, она̀ че о̀ка: - Измъ̀к! Онѝ ѓу 
                    измъ̀кну. И тека̀ ста̀лно, те ѓу не сỳ научѝли да рабо̀ти. Једъ̀н дън дошло̀ једно̀
                    момчѐ да ѓу про̀си. Онѝ му казува̀ли дѐка је она̀ мло̀го лѐња, а он че њим речѐ: 
                    Ѝма на̀ука, а ѝма и о̀дука. Тъга̀ј, онѝ му ѓу далѝ. Младожѐњата одвѐл невѐстуту дом. 
                    Ка било̀ на ручъ̀к, онѝ сѐдли да рỳчају, а невѐстата ока̀ла: - Примъ̀к! Примъ̀к! Àли 
                    нѝкој ѓу не стел примъ̀кне, и тека̀ оста̀ла гла̀дна. Дрỳѓи пут, ка било̀ студено̀, 
                    накла̀ли о̀гъњ у кавто̀рът. Она̀ се била̀ смръ̀зла и почѐла да о̀ка: - Примъ̀к! Примъ̀к! 
                    Онѝ ѓу примъкнỳли. И тега̀ј младожѐњата накла̀л голѐм о̀гъњ, па се кавто̀рът усија̀л. 
                    Она̀ ока̀ла: - Измъ̀к! Измъ̀к! Измъ̀к! Àли нѝкој не је стел да ѓу измъ̀кне, те је мора̀ла 
                    да се дѝгне и побѐгне. И од тега̀ј почѐла да рабо̀ти. <br/>
                    &nbsp; &nbsp; &nbsp; Једнỳш дошлѝ ма̀јќа њу и башта̀ њу на го̀сје, да вѝде 
                    какво̀ пра̀ви. Она̀ ѓи срѐтла и рекла̀ им да мо̀рају да рабо̀те а̀ко са̀кају да једỳ, 
                    па дала̀ на баштỳ си сеќѝру да сечѐ дръ̀ва, а на мајќỳ си вретѐно и кудѐљу да предѐ. 
                    И тека̀ дочека̀ли зѐтътога ка се врънỳл од ра̀боту.
                </p>
            </div>
        </div>
        <br/>
        
        <div class="d-flex justify-content-between">
            <button style="margin: 0 auto;" class="btn btn-success" routerLink="/quiz/text/ima-nauka-a-ima-i-oduka-kviz">одговори на питања свръзана с овъј текст</button>
        </div>
    </div>
    <br><br>
</div>