<div class="container bg-light py-5">
    <h1 class="display-6 fw-bold">Школа ПТДГ језика</h1>
    <p class="col-md-8 fs-4">Школа ПТДГ 
        (<a routerLink="/info-page"><em>призренско-тимочка дијалекатска група</em></a>) језика је пројекат 
        намењен забавном и активном усвајању поменутог језика путем квизова.<br>
        Доле ниже можете наћи разноразне квизове који изграђују ваш вокабулар и тестирају ваше познавање граматике 
        ових говора, а за напредније студенте ту су и краћи текстови са питањима.<br>
        Акценат је стављен претежно на призренско-јужноморавски дијалекат, конкретније на јужноморавски поддијалекат 
        (уз одређене примесе других призренско-јужноморавских говора, као и других ПТДГ говора уопште).<br>
        Детаљнији преглед особина различитих ПТДГ говора можете наћи <a href="#"><em>овде</em></a>.
    </p>
    <h4>Правила квизова:</h4>
    <ol>
        <li>Време за одговор на свако појединачно питање у квизу је један минут</li>
        <li>Сваки тачан одговор се награђује са 10 поена</li>
        <li>Сваки нетачан одговор се кажњава са -10 поена</li>
        <li>Питање се може прескочити и отићи на следеће, али се штоперица не ресетује</li>
        <li>Могуће је вратити се на претходно питање, али се то кажњава са -10 поена</li>
        <li>Уколико желите приступ свим квизовима морате бити пријављени на Ваш налог</li>
    </ol>
    <h1 style="font-family: 'Lucida Grande'; text-align: center;">срећно учење!</h1>

    <div class="name col-md-4 my-3">
        <ng-container *ngIf="loggedIn === false">
            <label for="">Корисничко име</label>
            <!--<input #name type="text" class="form-control" required name="username" [(ngModel)]="username">-->
            <input #name type="text" class="form-control" placeholder="корисничко име" required>
            <label for="">Лозинка</label>
            <input #pass type="password" class="form-control" placeholder="лозинка" required>
            <!--<input type="password" class="form-control" required name="password" [(ngModel)]="password">-->
            <br>
            <button class="btn btn-success" (click)="login()">Пријава</button>
        </ng-container>
        
        <ng-container *ngIf="loggedIn === true">
            <p>Пријављени сте као: <em><strong>{{username}}</strong></em></p>
            <button class="btn btn-success" (click)="logout()">Одјава</button>
        </ng-container>
    </div>
    <ng-container *ngIf="loggedIn === false">
        <p>Немате налог? Региструјте се <a routerLink="/registration">овде</a>.</p>
    </ng-container>

    <hr>
    <div>
        <h2 class="display-5 fw-bold">Квизови</h2><br />
        <div class="row">
            <h3>Грађење речника</h3><br />
            <div class="col-md-2 column">
                <button class="btn btn-success btn-lg" routerLink="/quiz/vocabulary/insekti">1</button>
                <span> - инсекти</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                    routerLink="/quiz/vocabulary/zivotinje">2</button>
                <span> - животиње</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                    routerLink="/quiz/vocabulary/kuhinja">3</button>
                <span> - кухиња</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                    routerLink="/quiz/vocabulary/ptice">4</button>
                <span> - птице</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                    routerLink="/quiz/vocabulary/sinonimi_meseci">5</button>
                <span> - синоними - месеци у години</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg">6</button>
                <span> - (ТОДО)</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg">7</button>
                <span> - (ТОДО)</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <br /><br />
        <div class="row">
            <h3>Квизови из граматике</h3><br />
            <div class="col-md-2 column">
                <button class="btn btn-success btn-lg" routerLink="/quiz/grammar/radni-glagolski-pridev">1</button>
                <span> - радни глаголски придев</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg" 
                routerLink="/quiz/grammar/refleksi-sonantnog-l">2</button>
                <span> - рефлекси слоготворног л</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                routerLink="/quiz/grammar/brojevi-i-brojne-imenice">3</button>
                <span> - бројеви и бројне именице</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                routerLink="/quiz/grammar/vokativ">4</button>
                <span> - вокатив</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                routerLink="/quiz/grammar/vokalizacija-poluglasnika">5</button>
                <span> - вокализација полугласника</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                routerLink="/quiz/grammar/glagol-jesam">6</button>
                <span> - глагол јесам</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <h3>Текстови</h3><br />
            <div class="col-md-2 column">
                <button class="btn btn-success btn-lg" 
                routerLink="/quiz/text/mlogo-s6m-se-muchila">1</button><span> - Мло̀го съм се мучѝла</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg" >2</button><span> - TODO</span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <hr>
</div>