<div class="container bg-light py-5">
    <h1 class="display-6 fw-bold">你的语文老师</h1>
    <p class="col-md-8 fs-4">"Твој учитељ кинеског језика" 
        (<a routerLink="/info-page"><em>中文</em></a>) је пројекат 
        намењен забавном и активном усвајању поменутог језика путем квизова.<br>
        Доле ниже можете наћи разноразне квизове који изграђују ваш вокабулар и тестирају ваше познавање граматике, 
        а за напредније студенте ту су и краћи текстови са питањима.<br><br>
        Детаљнији преглед особина кинеског језика можете наћи <a routerLink="/mind-your-language"><em>овде</em></a>.
    </p>
    <h4>Правила квизова:</h4>
    <ol>
        <li>Време за одговор на свако појединачно питање у квизу је један минут</li>
        <li>Сваки тачан одговор се награђује са 10 поена</li>
        <li>Сваки нетачан одговор се кажњава са -10 поена</li>
        <li>Питање се може прескочити и отићи на следеће, али се штоперица не ресетује</li>
        <li>Могуће је вратити се на претходно питање, али се то кажњава са -10 поена</li>
        <li>Уколико желите приступ свим квизовима морате бити пријављени на Ваш налог</li>
    </ol>
    <h1 style="font-family: 'Lucida Grande'; text-align: center;">срећно учење!</h1>

    <div class="name col-md-4 my-3">
        <ng-container *ngIf="loggedIn === false">
            <label for="">Корисничко име</label>
            <input #name type="text" class="form-control" placeholder="корисничко име" required>
            <label for="">Лозинка</label>
            <input #pass type="password" class="form-control" placeholder="лозинка" required>
            <br>
            <button class="btn btn-success" (click)="login()">Пријава</button>
        </ng-container>
        
        <ng-container *ngIf="loggedIn === true">
            <p>Пријављени сте као: <em><strong>{{username}}</strong></em></p>
            <button class="btn btn-success" (click)="logout()">Одјава</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" routerLink="/scoreboard">Табела са бодовима</button>
            <ng-container *ngIf="username === 'admin'">
                <br/><br/>
                <button class="btn btn-primary" routerLink="/list-of-users">Листа регистрованих налога</button>
            </ng-container>
        </ng-container>
    </div>
    <ng-container *ngIf="loggedIn === false">
        <p>Немате налог? Региструјте се <a routerLink="/registration">овде</a>.</p>
    </ng-container>

    <hr>
    <div>
        <h2 class="display-5 fw-bold">Квизови</h2><br />
        <div class="row">
            <h3>Грађење речника</h3><br />
            <div class="col-md-2 column">
                <button class="btn btn-success btn-lg" routerLink="/quiz/vocabulary/insekti">01</button>
                <span></span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                    routerLink="/quiz/vocabulary/zivotinje">02</button>
                <span></span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                    routerLink="/quiz/vocabulary/dani-u-nedelji">03</button>
                <span></span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <br /><br />
        <div class="row">
            <h3>Квизови из граматике</h3><br />
            <div class="col-md-2 column">
                <button  class="btn btn-success btn-lg" routerLink="/quiz/grammar/glagol-jesam">01</button>
                <span></span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-2 column">
                <button [disabled]="loggedIn === false" class="btn btn-success btn-lg"
                routerLink="/quiz/grammar/vokativ">02</button>
                <span></span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <h3>Текстови</h3><br />
            <div class="col-md-2 column">
                <button class="btn btn-success btn-lg" routerLink="/quiz/text/ima-nauka-a-ima-i-oduka">01</button>
                <span></span>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <hr>
</div>