<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Flag_of_Macedonia_-_ethnic.svg"
                    alt="nema slike" width="90">
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive;">текст - Овој си теќе поче да се оснура</h4>
                <ng-container *ngIf="name !== null">
                    <span style="font-style: italic;">Корисник: {{name}}</span>
                </ng-container>
                <ng-container *ngIf="name === null">
                    <span style="font-style: italic;">Корисник: Не сте пријавени!</span>
                </ng-container>
            </div>
        </div>

        <div class="text">
            <div class="card">
                <h3 style="text-align: center;">Ово̀ј си тѐќе почѐ да се оснỳра</h3>
                <hr>
                <p style="text-align: justify;">
                    &nbsp; &nbsp; &nbsp; Мо̀ре куд потеглѝсте, што напустѝсте та̀тков топра̀к? Што ѝскате, бре?
                    Доклѐн ќе да смо како̀ онѝја чѐнгенегурбѐти? Не ли у баба̀-зема̀н дръжа̀мо Будѝм; 
                    еј, еј, там у Маѓариста̀н! Па, што је? Што се на̀чини! Кој си о̀стану там съга̀ј? 
                    Сăл Ѓул-Баба̀ што си о̀стаде там сам да жмѝе, па да казỳе на човѐци и на аџѝе што бѐмо и ми газѝе. 
                    Па што си би о̀дѝ тъг? Из Будѝм нѐ испудѝше у Белѝград, из Белѝград у Ниш, из Ниш па у Искѝб! 
                    Моско̀в и Сръб искарỳју, а Инѓилѝз па ỳбаво не дочекỳе - па вѐќе се посмешѝмо како̀ онѝја 
                    за̀јци къд ги пого̀не зага̀ри а дочекỳју авџѝе у тѐсно мѐсто!... Мо̀ре, да си оста̀немо туј 
                    при ба̀штино тулбѐ и меза̀р! Куд ќе си кръ̀шимо врат по бел свет без крај и па без ред!... 
                    Ово̀ј си тѐќе почѐ да се оснỳра!
                </p><br/>
                <p style="font-size: small; text-align: right;">извор: Стеван Сремац, Ибиш-ага, 1898</p>
            </div>
        </div>
        <br/>
        
        <div class="d-flex justify-content-between">
            <button style="margin: 0 auto;" class="btn btn-success" routerLink="/quiz/text/ovoj-si-tekje-poche-da-se-osnura-kviz">одговори на питања свръзана с овъј текст</button>
        </div>
    </div>
    <br><br>
</div>